*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;    
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}



body,html{
    max-width: 1100px;
    font-family: "News Cycle", sans-serif;
    margin:0 auto;
    
}
header{   
    padding: 14px;
    width: 100%;    
}


/***
    Navbar
***/
.nav-container{
    
    width: 100%;    
}
.my-name {
    float: left;
    font-size: 27px;
}
.menu {
    float: right;
}
.menu > li {
    display: inline-block;
    text-decoration: none;
    padding-right: 16px;
    font-size: 27px;
}
a {
    text-decoration: none;
}
.clearfix::after{
    clear: both;
    content: "";
    display: table;
}/*
header,.welcome{
    background-color: #59D2FE;
}
**/
/***
    Welcome section

***/

.welcome{
    min-height: 65vh;
    top: 0;
    text-align: center;
    position: relative;
}
.centered{
    position: absolute;
    top: 40%;
    left: 30%;
}
.avatar {
    border-radius: 50%;
    width: 60%
}